.news-item {
	margin: 25px 0 25px 0;
	border-top: 1px solid #dfdfdf;
}

.news-item-block {
	padding-top: 25px;
	height: 200px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
}

.dates-container {
	padding: 75px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.meta {
	display: flex;
	width: 1000px;
	justify-content: center;
	align-items: center;
}

.abstract {
	margin-right: 75px;
}

.link {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.title {
	width: 470px;
}

.description {
	width: 670px;
}

.thumbnail {
	padding: 5px 0 5px 0;
	max-width: 250px;
	max-height: 200px;
}
