@font-face {
	font-family: raleway_c;
	src: url(/assets/fonts/raleway-v22-cyrillic-100.woff2);
	font-weight: 100;
}

@font-face {
	font-family: raleway_n;
	src: url(../assets/fonts/raleway-v22-cyrillic-300.woff2);
}

@font-face {
	font-family: raleway_b;
	src: url(../assets/fonts/Raleway-Bold.woff2);
}


@font-face {
	font-family: raleway_m;
	src: url(../assets/fonts/Raleway-Medium.woff2);
}

@font-face {
	font-family: cheltenham_b;
	src: url(../assets/fonts/CheltenhamStd-Bold.woff2);
	font-weight: bold;
}

@font-face {
	font-family: cheltenham_l;
	src: url(../assets/fonts/CheltenhamStd-Light.woff2);
	font-weight: normal;
}

@font-face {
	font-family: imperial;
	src: url(../assets/fonts/ImperialScript-Regular.woff2);
}

@font-face {
	font-family: franklin_n;
	src: url(../assets/fonts/Franklin-Gothic-book-normal.woff2);
}

* {
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}



a {
  color: black;
}

h2 {
  margin: 25px 0 25px 0;
}

p {
  margin: 25px 0 0 0;
}